aiobotocore
aiohappyeyeballs
aiohttp
boto3
dotenv
faiss-cpu==1.8.0.post1
faiss-gpu==1.7.2
fastapi
filelock
fsspec
groq
httpx
huggingface-hub
jinja2
jiter
joblib
mysql-connector-python
mysqlclient
networkx
numpy==1.24.4
openai
pandas
passlib
pillow
propcache
pydantic
PyMySQL
python-dotenv
PyYAML
regex
requests
s3fs
scikit-learn
scipy
sentence-transformers
sqlalchemy
starlette
sympy
tiktoken
tokenizers
torch
tqdm
transformers
triton
uvicorn
